h1{color: red;
font-family: arial;
font-size: 35px;}
p{color: gold;font-family: verdana;}
body{background-color:black;}
p.d{background-color:grey;color:green;}
/*color de ambos*/
h1,strong{background-color:rgb(255, 3, 3);color:blue}
em{background-color:gold;color:burlywood}
/*color del stong dentro del em(siendo hijo)*/
em >strong{background-color:blue;color:rgb(255, 7, 147)}
/*color del stong dentro de h1*/
h1 strong{color:white}
