ciudad {
    display: block;
    font-family: Arial;
}

nombre {
    color: red;
    display: block;
    background-color: rgb(179, 179, 179);
    font-size: 20px;
}

provincia,
comunidad,
num_habitantes {
    display: inline-block;
    width: 100px;
}
comunidad,
num_habitantes {
    text-align: center;
}

provincia {
    font-style: italic;
    text-transform: uppercase;
    font-weight: bold;
}
num_habitantes {
    font-weight: bold;
}

provincia,
comunidad {
    color: blue;
}